@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');


body {
    margin: 0;
    background: linear-gradient(180deg, #ffe6eb, #e6f7ff);
    font-family: 'Baloo 2', cursive;
    color: #4d4d4d;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#emojiCanvas {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: pink;
   
}
#excuseText{
     
    text-decoration: double;
    color: darkorchid;
    font-weight: 600;


}


.center-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    padding: 2em;
}

input, button {
    padding: 0.7em 1em;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

input {
    background-color: #fff9f5;
}

button {
    background: #ffb3ba;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.05);
}
